@{
    ViewData["Title"] = "Oops! Something went wrong.";
}

<h1 class="text-danger">Oops! Something went wrong.</h1>
<h2 class="text-danger">
    We're sorry, but there seems to be an issue with the page you're trying to access.
    Please try again later or contact our support team if the problem persists.
</h2>