html {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  top: 0px !important;
}

.gns-brand {
  width: 80px;
  height: 80px;
  background: url('../images/logo 1.png'),no-repeat;
  display: flex;
  align-items: center;
}

.text-nav-gns-brand {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: pre-line;
}

.second-gns-nav {
  height: 100px;
  flex-shrink: 0;
  background: linear-gradient(135deg, #0C959B 0%, #109197 100%);
}

.gns-nav-link {
  padding: 1px 6px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}

.gns-nav-link:hover{
  color: #000;
  background: #fff;
  text-decoration: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-brand p {
  margin: 0;
}

.third-gns-nav {
  height: 60px;
  flex-shrink: 0;
  background: #EEE;
}

.gns-nav-link-third {
  color: #5A5956;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.gns-nav-link-third:hover {
  color: #000;
  text-decoration-line: underline;
  background: #EEE;
}

.first-gns-nav {
  height: 90px;
}

.body-container {
  margin-top: 80px;
}

.email-request {
  right: 0;
  color: #0F9197;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-decoration-line: none;
}

.email-request:hover {
  color: #0F9197;
}

.lang-link {
  color: #859999 !important;
  font-size: 13px;
  padding: 0 !important;
  padding-left: 10px !important;
  cursor: pointer;
}

.lang-link-active {
  text-decoration-line: underline;
}

.service_card {
  height: 70px;
  background: #E5F3F4;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.date-time {
  height: 70px;
  width: 100%;
  background: #E5F3F4;
  border: none;
  border-bottom: 1px solid #0C949A;
}

.custom_button_gns {
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 100% !important;
  height: 70px;
  background: #0C949A;
  border-radius: unset !important;
}